---
title: London visitors
description: International London visitors dashboard
show-code: False
params:
    year: 
        input: select
        label: Please select a year
        value: ALL
        choices: ['ALL', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020P']
    purpose:
        input: select
        label: Please select a purpose
        value: ALL
        choices: ['ALL', 'Business', 'Holiday', 'Miscellaneous', 'Study', 'VFR']
    num:
        input: numeric
        value: 5
        label: Please select a num filtering
        min: 0
        max: 100000
        step: 1
---

In [1]:
import pandas as pd
import numpy as np
from ipywidgets import widgets

In [2]:
df_london = pd.read_csv("data/international-visitors-london-raw.csv")

In [3]:
ALL = 'ALL'

In [4]:
year = ALL
purpose = ALL
num = 5

In [5]:
def colour_ge_value(value, comparison):
    if value >= comparison:
        return 'color: red'
    else:
        return 'color: black'

In [6]:
def common_filtering(year, purpose, num):
    
    
    if (year == ALL) & (purpose == ALL):
        common_filter = df_london
    elif (year == ALL):
        common_filter = df_london[df_london.purpose == purpose]
    elif (purpose == ALL):
        common_filter = df_london[df_london.year == year]
    else:
        common_filter = df_london[(df_london.year == year) & 
                                  (df_london.purpose == purpose)]
    
    print("Data set size", common_filter.shape)
    return common_filter.head(20).style.applymap(
        lambda x: colour_ge_value(x, num),
        subset=['visits','spend', 'nights'])

In [7]:
common_filtering(year, purpose, num)

Data set size (61462, 11)